* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #01142F;
}

a {
	text-decoration: none;
}

html {
 	background-image: url(../images/overlay.jpg);
 	background-position: center;
 	background-size: cover;
 	background-repeat: no-repeat;
	background-attachment: fixed; 
	text-align: center;
}

@media screen and (min-width: 1024px) {
	main {
		margin: 0 auto;
    	width: 80%;
    	max-width: 1000px;
	}
}

#home {
	background-image: url(../images/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.logo {
	margin: 33vh auto;
    width: 90%;
    transition: width 0.4s;
}

@media screen and (min-width: 768px) {
	.logo {
		margin: 30vh auto;
		width: 70%;
	}
}

#about,
#products,
#contacts {
	width: 90%;
    margin: 0 auto;
    max-width: 800px;
}

@media screen and (min-width: 768px) {
	#about,
	#products,
	#contacts {
		width: 70%;
	}
}

@media screen and (min-width: 1024px) {
	#about,
	#products,
	#contacts {
		width: 90%;
	}
}

#about {
	position: relative;
    bottom: 40px;
    margin: 0 auto;
    border-top: solid 5px #F39629;
	clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0% 0%);
}

@media screen and (min-width: 768px) {
	#about {
		bottom: 60px;
	}
}

.about-card {
	padding: 100px 20px;
	background-color: white;	
	margin: 0 auto 20px;
}

@media screen and (min-width: 1024px) {
	.about-card {
		padding: 100px 50px;
	}
}

#about .heart {
	width: 10%;
	margin-top: 10px;
}

@media screen and (min-width: 1024px) {
	#about .heart {
		width: 5%;
	}
}

#products {
	padding: 20px 0;
}

h2 {
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
    color: white;
    margin: 70px auto 50px;
}

@media screen and (min-width: 1024px) {
	h2 {
		font-size: 2em;
	}
}


.card,
.contact-card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto 20px;
}

@media screen and (min-width: 768px) {
	.card {
		flex-direction: row;
		align-items: flex-start;
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 1024px) {
	.card {
		align-items: initial;
		margin-bottom: 20px;
	}
}

.frame-right,
.frame-left {
	width: 60%;
	position: relative;
}

@media screen and (min-width: 768px) {
	.frame-right,
	.frame-left {
		position: static;
	}
}

@media screen and (min-width: 1024px) {
	.frame-right,
	.frame-left {
		width: 30%;
	}
}

.frame-right {
	left: 40px;
    top: 30px;
}

.frame-left {
	right: 40px;
    top: 30px;
}

@media screen and (min-width: 768px) {
	.frame-left {
		order: 1;
	}
}

.thumb {
	display: block;
    width: 100%;
}

.info {
	display: block;
	background-color: white;
	padding: 60px 10px 30px;
	border-top: solid 5px #F39629;
	width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
	.info {
		display: flex;
	    flex-flow: column wrap;
	    justify-content: center;
	    padding: 0 20px;
	}
}

.info h3,
.price {
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

.info h3 {
	font-size: 1.6em;
}

.description {
	font-family: 'Roboto', sans-serif;
	margin: 7px 0 15px;
}

.price {
	font-size: 1.2em;
	color: #F39629;
}

.contact-card {
	background-color: white;
	border-top: solid 5px #F39629;
}

.phone,
.email {
	display: flex;
    flex-flow: column wrap;
    width: 90%;
    justify-content: center;
}

.phone h3,
.email h3 {
	margin-bottom: 0;
}

.email a {
	margin: 16px auto;
}

footer {
	margin: 20px auto;
}

footer span {
	color: #FEFCFB;
    font-size: .7em;
}

