* {
	box-sizing: border-box;
}

html {
	background-color: #8872B4;
}

body {
	background-color: #FBCEB5;
 	background-image: url(../images/svg/top_mae.svg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	color: #01142F;
}

main {
	margin: 0 10px;
}

#home img {
	margin: 35vh auto 25vh;
}

#about {
	background-color: #8872B4;
	margin: 0 -10px;
	padding-top: 15vh;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

#about .card {
	background-color: #FBCEB5;
	margin-bottom: 0;
	padding: 0 10px;
}

#products {
	background-color: #8872B4;
	padding: 20px 10px;
	margin: 0 -10px 150px;
}

h2 {
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
    color: white;
    margin: 50px 0;
    padding-top: 30px;
}

.card {
	display: flex;
	flex-flow: column wrap; 
	justify-content: space-between;
	align-items: center;
	background-color: white;	
	margin: 0 auto 20px;
	max-width: 500px;
}

.card img {
	display: block;
	width: 100%;
}

.info {
	display: block;
	width: 90%;
	margin: 20px auto;
}

.info h3,
.info .price {
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

.info h3 {
	font-size: 1.6em;
}

.info .description {
	font-family: 'Roboto', sans-serif;
	margin: 7px 0 15px;
}

.info .price {
	font-size: 1.2em;
	color: #F39629;
}

footer {
	display: flex;
	align-items: center;
	background-color: #8872B4;
}

footer p {
	text-transform: uppercase;
	margin: 20px auto;
}



