* {
	box-sizing: border-box;
}

body {
	background-color: #f7c9a8;
 	background-image: url(../images/svg/top_mae.svg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#top {
	position: fixed;
}

#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 90%;
	position: relative;
}

#home .logo {
	margin: 0 auto 10vh;
}

.nav-mobile {
	display: block;
    padding: 12px;
    width: 75px;
}

.nav-mobile span {
	display: block;
    background: #8872b4;
    height: 6px;
    width: 100%;
    margin-bottom: 8px;
}

section {
	height: 100vh;
}